<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937477778195-ku320as6koiiodg2filb71a608kln73l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937477778195-ku320as6koiiodg2filb71a608kln73l</string>
	<key>API_KEY</key>
	<string>AIzaSyBEzHQD55e5X-w90eGM4t8Zc5o0Q4_tZ1g</string>
	<key>GCM_SENDER_ID</key>
	<string>937477778195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Yavin4</string>
	<key>PROJECT_ID</key>
	<string>prototypes-5287e</string>
	<key>STORAGE_BUCKET</key>
	<string>prototypes-5287e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937477778195:ios:88c6553b7924375fdfc8e6</string>
	<key>DATABASE_URL</key>
	<string>https://prototypes-5287e-default-rtdb.firebaseio.com</string>
</dict>
</plist>